.menu-script-cuties #menu-top-cuties {
  color: rgba(255, 255, 255, .85);
  text-shadow: 0 0 3px #007fff,
               0 0 6px #007fff,
               0 0 9px #007fff;
}

.menu-script-cuties #menu-cuties-pane {
  display: flex;
  position: fixed;
  width: 320px; height: calc(100% - 70px);
  background: linear-gradient(to right, #fff 90%, #f8f8f8);
  flex-flow: column nowrap;
}

  .menu-script-cuties #menu-cuties-pane-back {
    flex: 0 0 auto;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    height: 50px;
    padding-left: 10px;
    padding-right: 16px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

    .menu-script-cuties #menu-cuties-pane-back:active {
      padding-left: 14px;
      padding-right: 20px;
    }

    .menu-script-cuties .menu-cuties-mode-equip #menu-cuties-pane-back,
    .menu-script-cuties .menu-cuties-mode-equip #menu-cuties-pane-footer {
      background: #007fff;
    }
    .menu-script-cuties .menu-cuties-mode-equip #menu-cuties-pane-back .pane-title::before {
      content: '\f090';
    }

    .menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-back,
    .menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-footer {
      background: #ff007f;
    }
    .menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-back .pane-title::before {
      content: '\f06b';
    }

    .menu-script-cuties .menu-cuties-mode-delete #menu-cuties-pane-back,
    .menu-script-cuties .menu-cuties-mode-delete #menu-cuties-pane-footer {
      background: #ff7f00;
    }
    .menu-script-cuties .menu-cuties-mode-delete #menu-cuties-pane-back .pane-title::before {
      content: '\f1f8';
    }

  .menu-script-cuties #menu-cuties-pane-main {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main {
    }

  .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main {
    padding: 10px 20px;
  }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main .cutie-count-info {
      display: flex;
      font-size: 3rem;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

      .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main .cutie-count-info>div {
      }

      .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main .cutie-count-info .left {
        flex: 1 1 auto;
      }

      .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main .cutie-count-info .right {
        flex: 0 1 auto;
        font-size: .5em;
        text-align: right;
      }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main a {
      display: block;
      text-align: center;
      margin: 20px 0;
      padding: 20px 0;
      color: #fff;
      font-size: 5rem;
      overflow: hidden;
    }

      .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main span {
        pointer-events: none;
      }

      .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main a:active {
        transform: scale(.95);
      }

        .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main a:active span {
          transform: scale(1.3);
        }

      .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main #menu-cuties-pane-equip {
        background: #007fff;
      }

      .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main #menu-cuties-pane-gift {
        background: #ff007f;
      }

      .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main #menu-cuties-pane-delete {
        background: #ff7f00;
      }

  .menu-script-cuties #menu-cuties-pane-footer {
    position: relative;
    flex: 0 0 auto;
    height: 69px;
  }

    .menu-script-cuties #menu-cuties-pane-action-button {
      position: absolute;
      right: 9px; top: 9px;
      width: 190px; height: 51px;
      background: white;
      border: none; outline: none;
      border-radius: 5px;
      font-size: 3rem;
    }

.menu-script-cuties #menu-cuties-main {
  margin-left: 320px;
  padding: 40px 60px 20px;
}

  .menu-script-cuties #menu-cuties-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

    .menu-script-cuties .menu-cuties-list-button {
      flex: 0 0 auto;
      position: relative;
      width: 160px; height: 160px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }

      .menu-script-cuties .menu-cuties-list-button .card-holder {
        position: absolute;
        width: 240px; height: 240px;
        top: -80px; left: -80px;
      }

        .menu-script-cuties .menu-cuties-list-button:active .card-holder {
          transform: scale(1.1);
        }

        .menu-script-cuties .menu-cuties-list-button .cutie-card {
          transform: scale(.3);
        }

          .menu-script-cuties .menu-cuties-mode-equip .menu-cuties-list-button .selected .cutie-card {
            box-shadow: 0 0 16px #007fff, 0 0 28px #007fff, 0 0 69px #007fff;
          }

          .menu-script-cuties .menu-cuties-mode-gift .menu-cuties-list-button .selected .cutie-card {
            box-shadow: 0 0 16px #ff007f, 0 0 28px #ff007f, 0 0 69px #ff007f;
          }

          .menu-script-cuties .menu-cuties-mode-delete .menu-cuties-list-button .selected .cutie-card {
            box-shadow: 0 0 16px #ff7f00, 0 0 28px #ff7f00, 0 0 69px #ff7f00;
          }

      .menu-script-cuties .menu-cuties-list-button .visible-button {
        position: absolute;
        top: 16px; left: 16px;
        width: 128px; height: 128px;
        background: white;
        border: 3px solid;
        border-radius: 13px;
        overflow: hidden;
      }

        .menu-script-cuties .menu-cuties-list-button .visible-button .sort-data {
          position: absolute;
          width: 64px; height: 32px;
          top: 10px; right: 3px;
          font-size: 2rem;
          text-align: center;
        }

        .menu-script-cuties .menu-cuties-list-button .visible-button .info {
          position: absolute;
          height: 28px; width: 108px;
          left: 10px;
          text-align: left;
          font-size: 1.5rem;
        }

          .menu-script-cuties .menu-cuties-list-button .visible-button .info .cs {
            text-shadow: 0 0 1px #fff;
          }

          .menu-script-cuties .menu-cuties-list-button .visible-button .info-1 {
            top: 69px;
          }

          .menu-script-cuties .menu-cuties-list-button .visible-button .info-2 {
            top: 95px;
          }

        .menu-script-cuties .menu-cuties-list-button:active .visible-button {
          transform: scale(.9);
        }

        .menu-script-cuties .rarity-0.menu-cuties-list-button .visible-button {
          border-color: #7f00ff;
          background: #e5ccff;
          color: #7f00ff;
        }
        .menu-script-cuties .rarity-1.menu-cuties-list-button .visible-button {
          border-color: #007fff;
          background: #cce5ff;
          color: #007fff;
        }
        .menu-script-cuties .rarity-2.menu-cuties-list-button .visible-button {
          border-color: #00ff7f;
          background: #ccffe5;
          color: #00ff7f;
        }
        .menu-script-cuties .rarity-3.menu-cuties-list-button .visible-button {
          border-color: #7fff00;
          background: #e5ffcc;
          color: #7fff00;
        }
        .menu-script-cuties .rarity-4.menu-cuties-list-button .visible-button {
          border-color: #ff7f00;
          background: #ffe5cc;
          color: #ff7f00;
        }
        .menu-script-cuties .rarity-5.menu-cuties-list-button .visible-button {
          border-color: #ff007f;
          background: #ffcce5;
          color: #ff007f;
        }
