.menu-script-cuties #menu-top-cuties {
  color: rgba(255, 255, 255, .85);
  text-shadow: 0 0 3px #007fff,
               0 0 6px #007fff,
               0 0 9px #007fff;
}

.menu-script-cuties #menu-cuties-pane {
  display: flex;
  position: fixed;
  width: 320px; height: calc(100% - 70px);
  background: linear-gradient(to right, #fff 90%, #f8f8f8);
  flex-flow: column nowrap;
}

  .menu-script-cuties #menu-cuties-pane-back {
    flex: 0 0 auto;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    height: 50px;
    padding-left: 10px;
    padding-right: 16px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

    .menu-script-cuties #menu-cuties-pane-back:active {
      padding-left: 14px;
      padding-right: 20px;
    }

  .menu-script-cuties #menu-cuties-pane-main {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu-script-cuties #menu-cuties-pane-footer {
    position: relative;
    flex: 0 0 auto;
    height: 87px;
  }

    .menu-script-cuties #menu-cuties-pane-action-button {
      position: absolute;
      right: 9px; top: 9px;
      width: 190px; height: 69px;
      color: #000;
      background: #f9f9f9;
      border: none; outline: none;
      border-radius: 5px;
      font-size: 3rem;
      padding: 2px 0;
      box-sizing: border-box;
    }

      @keyframes menu-script-cuties-menu-cuties-pane-action-button-okay {
        100% {
          font-size: 3.5rem;
          color: #555;
          text-shadow: 0 0 5px #999;
          background: #fff;
          box-shadow: 0 0 10px #fff;
        }
      }

      .menu-script-cuties #menu-cuties-pane-action-button:not([disabled]) {
        animation: .5s menu-script-cuties-menu-cuties-pane-action-button-okay infinite alternate;
      }

      .menu-script-cuties #menu-cuties-pane-action-button:not([disabled]):active {
        padding: 4px 0 0;
      }

      .menu-script-cuties #menu-cuties-pane-action-button:disabled {
        background: rgba(221, 221, 221, .69);
      }

.menu-script-cuties #menu-cuties-main {
  margin-left: 320px;
  padding: 40px 60px 20px;
}

  .menu-script-cuties #menu-cuties-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

    .menu-script-cuties .menu-cuties-list-button {
      flex: 0 0 auto;
      position: relative;
      width: 160px; height: 160px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }

      .menu-script-cuties .menu-cuties-list-button .card-holder {
        position: absolute;
        width: 240px; height: 240px;
        top: -80px; left: -80px;
        pointer-events: none;
      }

        .menu-script-cuties .menu-cuties-list-button:active .card-holder {
          transform: scale(1.1);
        }

        .menu-script-cuties .menu-cuties-list-button .cutie-card {
          transform: scale(.3);
        }

      .menu-script-cuties .menu-cuties-list-button .visible-button {
        position: absolute;
        top: 16px; left: 16px;
        width: 128px; height: 128px;
        border: 3px solid;
        border-radius: 13px;
        overflow: hidden;
        pointer-events: none;
      }

        .menu-script-cuties .menu-cuties-list-button .visible-button .cutie-pic {
          position: absolute;
          opacity: .1;
        }

        .menu-script-cuties .menu-cuties-list-button .visible-button .sort-data {
          position: absolute;
          width: 64px; height: 32px;
          top: 10px; right: 3px;
          font-size: 2rem;
          text-align: center;
        }

        .menu-script-cuties .menu-cuties-list-button .visible-button .info {
          position: absolute;
          height: 28px; width: 108px;
          left: 10px;
          text-align: left;
          font-size: 1.5rem;
        }

          .menu-script-cuties .menu-cuties-list-button .visible-button .info .cs {
            text-shadow: 0 0 1px #fff;
          }

          .menu-script-cuties .menu-cuties-list-button .visible-button .info-1 {
            top: 69px;
          }

          .menu-script-cuties .menu-cuties-list-button .visible-button .info-2 {
            top: 95px;
          }

        .menu-script-cuties .menu-cuties-list-button:active .visible-button {
          transform: scale(.9);
        }

        .menu-script-cuties .rarity-0.menu-cuties-list-button .visible-button {
          border-color: #7f00ff;
          background: #e5ccff;
          color: #7f00ff;
        }
        .menu-script-cuties .rarity-1.menu-cuties-list-button .visible-button {
          border-color: #007fff;
          background: #cce5ff;
          color: #007fff;
        }
        .menu-script-cuties .rarity-2.menu-cuties-list-button .visible-button {
          border-color: #00ff7f;
          background: #ccffe5;
          color: #00ff7f;
        }
        .menu-script-cuties .rarity-3.menu-cuties-list-button .visible-button {
          border-color: #7fff00;
          background: #e5ffcc;
          color: #7fff00;
        }
        .menu-script-cuties .rarity-4.menu-cuties-list-button .visible-button {
          border-color: #ff7f00;
          background: #ffe5cc;
          color: #ff7f00;
        }
        .menu-script-cuties .rarity-5.menu-cuties-list-button .visible-button {
          border-color: #ff007f;
          background: #ffcce5;
          color: #ff007f;
        }

        .menu-script-cuties .menu-cuties-list-button .favorite .visible-button {
          box-shadow: 0 0 5px #ffcc00, 0 0 13px #ffcc00, 0 0 21px #ffcc00;
        }

      .menu-script-cuties .menu-cuties-list-button .menu-cuties-button-alert {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        pointer-events: none;
      }

        .menu-script-cuties .menu-cuties-list-button .menu-cuties-button-alert .alert-text {
          display: flex;
          position: absolute;
          top: 19px; left: 19px;
          width: 128px; height: 128px;
          padding: 10px;
          transform: scale(.9);
          font-size: 7rem;
          flex-flow: row nowrap;
          justify-content: flex-end;
          align-items: flex-end;
          box-sizing: border-box;
          line-height: 7rem;
        }

          .menu-script-cuties .menu-cuties-list-button .menu-cuties-button-alert.go .alert-text {
            transform: none;
            opacity: 0;
            transition: transform .5s, opacity .31s .69s;
          }

        .menu-script-cuties .menu-cuties-list-button .menu-cuties-button-alert .mode-icon {
          display: flex;
          position: absolute;
          top: 7px; left: 7px;
          width: 66px; height: 66px;
          transform: scale(1.25);
          font-size: 4rem;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          color: #fff;
        }

          .menu-script-cuties .menu-cuties-list-button .menu-cuties-button-alert.go .mode-icon {
            transform: none;
            opacity: 0;
            transition: transform .5s, opacity .31s .5s;
          }

        .menu-script-cuties .menu-cuties-list-button .menu-cuties-button-alert .color-square {
          position: absolute;
          top: 19px; left: 19px;
          width: 128px; height: 128px;
          border-radius: 13px;
        }

          .menu-script-cuties .menu-cuties-list-button:active .menu-cuties-button-alert .color-square {
            transform: scale(.9);
          }

        .menu-script-cuties .menu-cuties-list-button .menu-cuties-button-alert .color-circle {
          position: absolute;
          top: 7px; left: 7px;
          width: 66px; height: 66px;
          border-radius: 33px;
        }

          .menu-script-cuties .menu-cuties-list-button:active .menu-cuties-button-alert .color-circle {
            transform: scale(1.1);
          }

            .menu-script-cuties .menu-cuties-list-button .menu-cuties-button-alert.go .backgrounds {
              opacity: 0;
              transition: opacity .6s .2s;
            }
