.menu-script-cuties #menu-content {
}

.menu-script-cuties #menu-cuties-pane {
  position: fixed;
  width: 320px; height: 100%;
  background: linear-gradient(to right, #fff 90%, #f8f8f8);
}

.menu-script-cuties #menu-cuties-list {
  margin-left: 320px;
  padding: 40px 20px 20px;
}
