.cutie-119 .cutie-embed {
  max-width: 443px; max-height: 611px;
  background: url(1.png) top left no-repeat;
  background-size: contain;
}

.ce-recent-click #cutie-m.cutie-119 .cutie-embed {
  background-image: url(2.png);
}
