.menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-back,
.menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-footer {
  background: #ff007f;
}
.menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-back .pane-title::before {
  content: '\f06b';
}
.menu-script-cuties .menu-cuties-mode-gift .menu-cuties-list-button .selected .cutie-card {
  box-shadow: 0 0 16px #ff7f00, 0 0 28px #ff7f00, 0 0 69px #ff7f00;
}
.menu-script-cuties .menu-cuties-mode-gift .menu-cuties-list-button .selected-0 .cutie-card {
  box-shadow: 0 0 16px #ff007f, 0 0 28px #ff007f, 0 0 69px #ff007f;
}

.menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-giftee {
  position: relative;
  width: 100%; height: 100px;
  background: rgba(0, 0, 0, .1);
  border: none;
  outline: none;
}

  .menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-giftee:not([disabled]):active {
    margin-top: -2px;
    height: 102px;
  }

  .menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-giftee-card {
    position: absolute;
    left: 20px; top: 11px;
    width: 80px; height: 80px;
  }

    .menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-giftee-card .cutie-card {
      transform-origin: 0 0;
      transform: scale(.33);
    }

  .menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-giftee-ecchi {
    position: absolute;
    left: 120px; top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
  }

    .menu-script-cuties .menu-cuties-mode-gift #menu-cuties-pane-giftee:disabled #menu-cuties-pane-giftee-ecchi {
      display: none;
    }
