.menu-script-cuties .menu-cuties-mode-equip #menu-cuties-pane-back,
.menu-script-cuties .menu-cuties-mode-equip #menu-cuties-pane-footer {
  background: #007fff;
}
.menu-script-cuties .menu-cuties-mode-equip #menu-cuties-pane-back .pane-title::before {
  content: '\f21d';
}

.menu-script-cuties .menu-cuties-mode-equip .menu-cuties-list-button .selected .cutie-card {
  box-shadow: 0 0 16px #007fff, 0 0 28px #007fff, 0 0 69px #007fff;
}
