.menu-script-cuties .menu-cuties-mode-delete #menu-cuties-pane-back,
.menu-script-cuties .menu-cuties-mode-delete #menu-cuties-pane-footer {
  background: #ff7f00;
}
.menu-script-cuties .menu-cuties-mode-delete #menu-cuties-pane-back .pane-title::before {
  content: '\f1f8';
}
.menu-script-cuties .menu-cuties-mode-delete .menu-cuties-list-button .selected .cutie-card {
  box-shadow: 0 0 16px #ff7f00, 0 0 28px #ff7f00, 0 0 69px #ff7f00;
}
