.menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main {
  padding: 10px 20px;
}

  .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main .cutie-count-info {
    display: flex;
    font-size: 3rem;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main .cutie-count-info>div {
    }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main .cutie-count-info .left {
      flex: 1 1 auto;
    }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main .cutie-count-info .right {
      display: flex;
      flex: 0 1 auto;
      font-size: .69em;
      text-align: right;
      flex-flow: column nowrap;
      justify-content: flex-end;
    }

  .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main a {
    position: relative;
    display: block;
    margin: 20px 0;
    padding: 20px 30px;
    color: #fff;
    font-size: 5rem;
    overflow: hidden;
    text-decoration: none;
  }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main span {
      pointer-events: none;
    }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main a:active {
      transform: scale(.95);
    }

      .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main a:active .icon {
        transform: scale(1.3);
      }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main a .badge {
      display: block;
      position: absolute;
      bottom: 20px; right: 30px;
      font-size: 2rem;
      color: #fff;
    }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main #menu-cuties-pane-equip {
      background: #007fff;
    }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main #menu-cuties-pane-gift {
      background: #ff007f;
    }

    .menu-script-cuties .menu-cuties-mode-view #menu-cuties-pane-main #menu-cuties-pane-delete {
      background: #ff7f00;
    }
