<div id="menu-cuties-pane-main">
  <div class="cutie-count-info">
    <div class="left">
      <span class="fa fa-copyright"></span> <span class="cv-cutie-count"></span>
    </div>

    <div class="right">
      <div><span class="fa fa-minus" style="font-size:69%;"></span> <span class="cv-xp-drain-sec"></span> <span class="cs cs-excitement"></span>/s</div>
    </div>
  </div>

  <a href="$" data-state='{"mode":"equip"}' id="menu-cuties-pane-equip">
    <span class="fa fa-street-view icon"></span>
    <span class="badge"></span>
  </a>
  <a href="$" data-state='{"mode":"gift"}' id="menu-cuties-pane-gift">
    <span class="fa fa-gift icon"></span>
    <span class="badge"></span>
  </a>
  <a href="$" data-state='{"mode":"delete"}' id="menu-cuties-pane-delete">
    <span class="fa fa-trash icon"></span>
    <span class="badge"></span>
  </a>
</div>
