/* rarity 0 */
  .menu-script-showcase .rarity-0 #menu-showcase-layer--0 {
    background: radial-gradient(circle farthest-corner at top left, #f2e5ff 0%, #d9b3ff 100%);
  }
  .menu-script-showcase .rarity-0 #menu-showcase-layer--1 {
    background: radial-gradient(circle farthest-corner at top left, transparent 30%, #d9b3ff 30%, #bf80ff 100%);
  }
  .menu-script-showcase .rarity-0 #menu-showcase-layer--2 {
    background: radial-gradient(circle farthest-corner at top left, transparent 50%, #bf80ff 50%, #a54dff 100%);
  }
  .menu-script-showcase .rarity-0 #menu-showcase-layer--3 {
    background: radial-gradient(circle farthest-corner at top left, transparent 70%, #a54dff 70%, #8c1aff 100%);
  }

/* rarity 1 */
  .menu-script-showcase .rarity-1 #menu-showcase-layer--0 {
    background: linear-gradient(#e5f2ff 0%, #b3d9ff 100%);
  }
  @keyframes menu-script-showcase-rarity-1-bottom-layer-background-scroll {
    100% {
      background-position: 1000px 0, 1000px 0;
    }
  }
  .menu-script-showcase .rarity-1 #menu-showcase-layer--1 {
    background: linear-gradient(to top right, transparent 25%, #80bfff 25%, #80bfff 50%, transparent 50%, transparent 75%, #80bfff 75%),
                linear-gradient(to bottom right, transparent 25%, #99ccff 25%, #99ccff 50%, transparent 50%, transparent 75%, #99ccff 75%);
    background-size: 1000px 1000px, 1000px 1000px;
    animation: 40s menu-script-showcase-rarity-1-bottom-layer-background-scroll linear infinite;
  }
  @keyframes menu-script-showcase-rarity-1-middle-layer-background-scroll {
    100% {
      background-position: -500px 0;
    }
  }
  .menu-script-showcase .rarity-1 #menu-showcase-layer--2 {
    opacity: .42;
    background: linear-gradient(to bottom right, transparent 30%, #66b2ff 30%, #66b2ff 50%, transparent 50%, transparent 80%, #66b2ff 80%);
    background-size: 500px 500px;
    animation: 30s menu-script-showcase-rarity-1-middle-layer-background-scroll linear infinite;
  }
  .menu-script-showcase .rarity-1 #menu-showcase-layer--3 {
    opacity: .69;
    background: linear-gradient(to top right, transparent 30%, #66b2ff 30%, #66b2ff 50%, transparent 50%, transparent 80%, #66b2ff 80%);
    background-size: 500px 500px;
    animation: 30s menu-script-showcase-rarity-1-middle-layer-background-scroll linear infinite;
  }
  @keyframes menu-script-showcase-rarity-1-top-layer-background-scroll {
    100% {
      background-position: 250px 0, -250px 0;
    }
  }
  .menu-script-showcase .rarity-1 #menu-showcase-layer--4 {
    opacity: .1;
    background: linear-gradient(to top right, transparent 49%, #fff 49%, #fff 50%, transparent 50%, transparent 99%, #fff 99%),
                linear-gradient(to bottom right, transparent 49%, #fff 49%, #fff 50%, transparent 50%, transparent 99%, #fff 99%);
    background-size: 250px 250px, 250px 250px;
    animation: 20s menu-script-showcase-rarity-1-top-layer-background-scroll linear infinite;
  }

/* rarity 2 */
  .menu-script-showcase .rarity-2 #menu-showcase-layer--0 {
    background: radial-gradient(circle farthest-corner at center center, #80ffbf 0%, #1aff8c 100%);
  }
  @keyframes menu-script-showcase-rarity-2-menu-showcase-layer--1 {
    100% {
      background-position: calc(50% + 200px) calc(50% - 400px), calc(50% + 200px) calc(50% - 200px), calc(50% + 200px) calc(50% - 400px), calc(50% + 200px) calc(50% - 200px), calc(50% - 3px) 0;
    }
  }
  .menu-script-showcase .rarity-2 #menu-showcase-layer--1 {
    position: relative;
    transform: rotate(30deg);
    top: -200%; left: -200%;
    height: 500%; width: 500%;
    background: radial-gradient(circle 25px at center center, #66ffb2 100%, transparent 100%) calc(50% + 200px) 50%,
                radial-gradient(circle 35px at center center, #ccffe5 100%, transparent 100%) calc(50% + 200px) calc(50% + 200px),
                radial-gradient(circle 30px at center center, #00cc66 100%, transparent 100%) calc(50% + 200px) 50%,
                radial-gradient(circle 42px at center center, #00cc66 100%, transparent 100%) calc(50% + 200px) calc(50% + 200px),
                linear-gradient(90deg, #00cc66 6px, transparent 6px) calc(50% - 3px) 0;
    background-size: 400px 400px, 400px 400px, 400px 400px, 400px 400px;
    animation: 1s menu-script-showcase-rarity-2-menu-showcase-layer--1 infinite;
  }
  @keyframes menu-script-showcase-rarity-2-menu-showcase-layer--2 {
    100% {
      background-position: 50% calc(50% + 400px), 50% calc(50% + 600px), 50% calc(50% + 400px), 50% calc(50% + 600px), calc(50% + 198px) 0;
    }
  }
  .menu-script-showcase .rarity-2 #menu-showcase-layer--2 {
    position: relative;
    transform: rotate(30deg);
    top: -200%; left: -200%;
    height: 500%; width: 500%;
    background: radial-gradient(circle 20px at center center, #66ffb2 100%, transparent 100%) 50% 50%,
                radial-gradient(circle 30px at center center, #ccffe5 100%, transparent 100%) 50% calc(50% + 200px),
                radial-gradient(circle 23px at center center, #00994c 100%, transparent 100%) 50% 50%,
                radial-gradient(circle 35px at center center, #00994c 100%, transparent 100%) 50% calc(50% + 200px),
                linear-gradient(90deg, #00994c 4px, transparent 4px) calc(50% + 198px) 0;
    background-size: 400px 400px, 400px 400px, 400px 400px, 400px 400px, 400px 400px;
    animation: .8s menu-script-showcase-rarity-2-menu-showcase-layer--2 infinite;
  }
  @keyframes menu-script-showcase-rarity-2-menu-showcase-layer--3 {
    0% {
      opacity: .6;
    }
  }
  .menu-script-showcase .rarity-2 #menu-showcase-layer--3 {
    opacity: .3;
    background: radial-gradient(circle farthest-corner at center center, #e5fff2 69%, #004d26 100%);
    animation: .69s menu-script-showcase-rarity-2-menu-showcase-layer--3 infinite alternate;
  }
