.menu-script-loot #menu-loot-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100%; width: 100%;
}

  @keyframes menu-loot-button {
    0% {
      transform: none;
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .menu-script-loot .menu-loot-button {
    width: 300px; height: 300px;
    animation: 9s menu-loot-button linear infinite;
  }
