@keyframes menu-loot-background-pulsate {
  0% {
    opacity: .3;
  }

  100% {
    opacity: 1;
  }
}

.menu-script-loot #menu-loot-outer-wrap {
  height: 100%; width: 100%;
  overflow: hidden;
}

.menu-script-loot #menu-loot-exit-effect {
  height: 100%; width: 100%;
  transition: transform .5s, opacity .3s;
}

.menu-script-loot #menu-loot-background {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background: radial-gradient(circle farthest-corner at top center, rgba(255, 204, 0, .1) 0%, #fff 100%);
  animation: 3s menu-loot-background-pulsate linear infinite alternate;
}

.menu-script-loot #menu-loot-wrap {
  position: absolute;
  top: 0; left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100%; width: 100%;
  perspective: 1000px;
}

  .menu-script-loot .menu-loot-button {
    position: relative;
    width: 250px; height: 350px;
    background: #fff;
    border: none;
    outline: none;
    transform-style: preserve-3d;
    transition: transform .3s;
    transform: rotateY(180deg);
  }

    .menu-script-loot .menu-loot-button:not([disabled]) {
      cursor: pointer;
    }

    .menu-script-loot .menu-loot-button:not([disabled]):active {
      top: 1px; bottom: 1px;
    }

    .menu-script-loot .menu-loot-button:disabled {
      transform: scale(.8) rotateY(180deg);
    }

    .menu-script-loot .menu-loot-button.chosen:disabled {
      transform: rotateY(180deg);
    }

      .menu-script-loot .menu-loot-button.revealed {
        transform: scale(.8);
      }

      .menu-script-loot .menu-loot-button.chosen.revealed {
        transform: none;
      }

    .menu-script-loot .menu-loot-button .card-front {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: #eee;
      backface-visibility: hidden;
      border: 1px rgba(0, 0, 0, .3) solid;
      border-radius: 10px;
      font-size: 160px;
      color: rgba(0, 0, 0, 0.3);
      line-height: 350px;
      transform: translateZ(.05px);
    }

      .menu-script-loot .menu-loot-button.chosen .card-front {
        background: #fff;
      }

    .menu-script-loot .menu-loot-button .card-back {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: #fff url(card-back.png);
      transform: rotateY(180deg) translateZ(.05px);
      backface-visibility: hidden;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
      pointer-events: none;
      border-radius: 10px;
    }

      .menu-script-loot .menu-loot-button:active .card-back {
        box-shadow: 0 0 1px rgba(0, 0, 0, .3);
      }

      .menu-script-loot .menu-loot-button.revealed .card-back {
        box-shadow: none;
      }

@keyframes menu-script-loot-menu-top-pulsate {
  100% {
    color: #aaa;
    text-shadow: none;
  }
}

.menu-script-loot #menu-top-home {
  color: rgba(255, 255, 255, .85);
  text-shadow: 0 0 3px #7f00ff,
               0 0 6px #7f00ff,
               0 0 9px #7f00ff;
  animation: .69s menu-script-loot-menu-top-pulsate alternate infinite;
}
.menu-script-loot #menu-top-cuties {
  color: rgba(255, 255, 255, .85);
  text-shadow: 0 0 3px #007fff,
               0 0 6px #007fff,
               0 0 9px #007fff;
  animation: .69s menu-script-loot-menu-top-pulsate .115s alternate infinite;
}

.menu-script-loot #menu-top-items {
  color: rgba(255, 255, 255, .85);
  text-shadow: 0 0 3px #00ff7f,
               0 0 6px #00ff7f,
               0 0 9px #00ff7f;
  animation: .69s menu-script-loot-menu-top-pulsate .23s alternate infinite;
}

.menu-script-loot #menu-top-store {
  color: rgba(255, 255, 255, .85);
  text-shadow: 0 0 3px #7fff00,
               0 0 6px #7fff00,
               0 0 9px #7fff00;
  animation: .69s menu-script-loot-menu-top-pulsate .345s alternate infinite;
}
.menu-script-loot #menu-top-tbd {
  color: rgba(255, 255, 255, .85);
  text-shadow: 0 0 3px #ff7f00,
               0 0 6px #ff7f00,
               0 0 9px #ff7f00;
  animation: .69s menu-script-loot-menu-top-pulsate .46s alternate infinite;
}
.menu-script-loot #menu-top-misc {
  color: rgba(255, 255, 255, .85);
  text-shadow: 0 0 3px #ff007f,
               0 0 6px #ff007f,
               0 0 9px #ff007f;
  animation: .69s menu-script-loot-menu-top-pulsate .575s alternate infinite;
}
