#layer-burst {
  display: none;
  pointer-events: auto;
  background: #000;
}

#layer-burst.burst-pre,
#layer-burst.burst-active,
#layer-burst.burst-post-win,
#layer-burst.burst-post-fail {
  display: block;
}

  #burst-cover {
    display: none;
    position: absolute;
    width: 100%; height: 100%;
    pointer-events: auto;
    background: #000;
  }

  .burst-pre #burst-cover {
    display: block;
  }

  #burst-ui {
    pointer-events: none;
  }

  .burst-pre #burst-ui {
    display: none;
  }

    #burst-xp-gauge {
      position: absolute;
      left: 50%; bottom: 69px;
      width: 69%; height: 3px;
      transform: translate(-50%, -50%);
    }

      #burst-xp-gauge .bar {
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 0;
        background-color: #ccc;
        transition: width .3s linear, background-color .3s;
      }

      #burst-xp-gauge .heart {
        position: absolute;
        top: 50%; left: 0;
        transform: translate(-100%, -42%) scaleY(.9);
        color: #ccc;
        font-size: 500%;
        transition: color .1s;
      }

      @keyframes burst-xp-gauge-curren-rot {
        from {
          transform: translate(-82%, -49%) rotate(0deg);
        }
        to {
          transform: translate(-82%, -49%) rotate(360deg);
        }
      }
      #burst-xp-gauge .curren {
        position: absolute;
        top: 50%; left: -50px;
        animation: 20s burst-xp-gauge-curren-rot linear infinite;
        font-size: 1200%;
        opacity: 0;
        color: #c71585;
        transition: opacity .2s, left .2s;
      }

      .burst-ok #burst-xp-gauge .heart {
        color: #ffcc00;
      }
      .burst-ok #burst-xp-gauge .curren {
        opacity: 1;
        left: 0;
      }
      .burst-ok #burst-xp-gauge .bar {
        background-color: #ffcc00;
      }
