/* Generic symbols */
.cs::before {

}

/* Stats */
  .cs-empathy::before {
    content: '\2660\fe0e';
    color: #0d98ba;
  }

  .cs-ecchi::before {
    content: '\2663\fe0e';
    color: #ff5349;
  }

  .cs-love::before {
    content: '\2665\fe0e';
    color: #ffcc00;
  }

  .cs-excitement::before {
    content: '\2666\fe0e';
    color: #c71585;
  }

  .cs-burst::before {
    content: '\a4';
  }

  @keyframes cs-sext {
    0% {
      color: #c71585;
      transform: none;
    }
    19.99% {
      color: #c71585;
      transform: rotate(-45deg);
    }
    20% {
      color: #0d98ba;
      transform: none;
    }
    39.99% {
      color: #0d98ba;
      transform: rotate(-45deg);
    }
    40% {
      color: #7fff00;
      transform: none;
    }
    59.99% {
      color: #7fff00;
      transform: rotate(-45deg);
    }
    60% {
      color: #ffcc00;
      transform: none;
    }
    79.99% {
      color: #ffcc00;
      transform: rotate(-45deg);
    }
    80% {
      color: #ff5349;
      transform: none;
    }
    99.99% {
      color: #ff5349;
      transform: rotate(-45deg);
    }
  }
  .cs-sext::before {
    content: '\2736';
    animation: 3s cs-sext linear infinite;
    display: inline-block;
  }

  .cs-rarity::before {
    /* Use with fa (this is fa-asterisk)! */
    content: '\f069';
  }

/* Rarity colors */
  .cs-r0::before {
    color: #7f00ff;
  }
  .cs-r1::before {
    color: #007fff;
  }
  .cs-r2::before {
    color: #00ff7f;
  }
  .cs-r3::before {
    color: #7fff00;
  }
  .cs-r4::before {
    color: #ff7f00;
  }
  .cs-r5::before {
    color: #ff007f;
  }
