/* A css file just for cutie cards */

.cutie-card {
  position: relative;
  box-sizing: border-box;
  width: 240px; height: 240px;
  border-radius: 50%;
  border: 12px solid rgba(0, 0, 0, .3);
  font-size: 69px;
  padding-top: 57px;
  text-align: center;
  overflow: hidden;
  background: rgba(0, 0, 0, .1);
}

.rarity-0 .cutie-card {
  border-color: #7F00FF;
  background: rgba(127, 0, 255, .2);
  color: #7F00FF;
}
