/* A css file just for cutie cards */

.cutie-card {
  position: relative;
  box-sizing: border-box;
  width: 240px; height: 240px;
  border-radius: 50%;
  border: 12px dashed rgba(0, 0, 0, .3);
  overflow: hidden;
  background: #eee;
  color: rgba(0, 0, 0, .3);
}

  .cutie-card .glyph {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    font-size: 10rem;
    align-items: center;
    justify-content: center;
  }

    .cutie-card .glyph::before {
      content: attr(data-css-before);
    }

  .rarity-0 .cutie-card {
    border-color: #7f00ff;
    border-style: solid;
    background: #e5ccff;
    color: #7f00ff;
  }
  .rarity-1 .cutie-card {
    border-color: #007fff;
    border-style: solid;
    background: #cce5ff;
    color: #007fff;
  }
  .rarity-2 .cutie-card {
    border-color: #00ff7f;
    border-style: solid;
    background: #ccffe5;
    color: #00ff7f;
  }
  .rarity-3 .cutie-card {
    border-color: #7fff00;
    border-style: solid;
    background: #e5ffcc;
    color: #7fff00;
  }
  .rarity-4 .cutie-card {
    border-color: #ff7f00;
    border-style: solid;
    background: #ffe5cc;
    color: #ff7f00;
  }
  .rarity-5 .cutie-card {
    border-color: #ff007f;
    border-style: solid;
    background: #ffcce5;
    color: #ff007f;
  }
