/* A css file just for cutie cards */

.cutie-card {
  position: relative;
  box-sizing: border-box;
  width: 240px; height: 240px;
  border-radius: 50%;
  border: 12px dashed rgba(0, 0, 0, .1);
  overflow: hidden;
  background: rgba(0, 0, 0, .069);
}

.cutie-card .glyph {
  width: 100%; height: 100%;
  display: flex;
  font-size: 10rem;
  align-items: center;
  justify-content: center;
}

.rarity-0 .cutie-card {
  border-color: #7F00FF;
  border-style: solid;
  background: rgba(127, 0, 255, .2);
  color: #7F00FF;
}
