#layer-effects {
  position: fixed;
}

/* Parallax */
.parallax-0, .parallax--0,
.parallax-1, .parallax--1,
.parallax-2, .parallax--2,
.parallax-3, .parallax--3,
.parallax-4, .parallax--4 {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
}

#layer-effects .light-burst {
  position: absolute;
  transform: translate(-25%, -25%);
  width: 200%; height: 200%;
  background: transparent;
}

  #layer-effects .light-burst.go {
    background: #fff;
    transition: background .3s;
  }
  #layer-effects .light-burst.away {
    opacity: 0;
    transition: opacity .69s;
  }
