/* Basic styles */
html {
  width: 100%; height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /*-webkit-text-size-adjust: 100%;*/
}

@keyframes body-game-start {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

body {
  display: block;
  width: 100%; height: 100%;
  margin: 0;
  overflow: hidden;
  animation: .3s body-game-start;
  background: #fff;
}

/* Main game display layers */
body>.layer,
#layers-under-ui>.layer {
  position: absolute;
  height: 100%; width: 100%;
  pointer-events: none;
}

#layers-under-ui {
  position: absolute;
  width: 100%; height: 100%;
  background: #fff;
  overflow: hidden;
  transition: transform .3s, opacity .3s;
}

/* Game Size Div */
@keyframes window-too-small {
  0% {
    text-shadow: 0 0 0 #000;
  }

  100% {
    text-shadow: 0 0 69px #fff;
  }
}

#window-too-small {
  position: fixed;
  width: 100%; height: 100%;
  background: #fff;
  pointer-events: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  font-size: 69px;
  opacity: 0;
  transition: opacity .3s;
  animation: .69s window-too-small infinite;
}

@media screen and (max-width: 960px), screen and (max-height: 540px) {
  #window-too-small {
    pointer-events: auto;
    opacity: 1;
  }

  @media screen and (max-width: 960px) {
    #window-too-small .fa::before {
      content: '\f07e';
    }
  }

  @media screen and (max-height: 540px) {
    #window-too-small .fa::before {
      content: '\f07d';
    }
  }

  @media screen and (max-width: 960px) and (max-height: 540px) {
    #window-too-small .fa::before {
      content: '\f0b2';
    }
  }
}

/* Update Div */
#update-available {
  transform: translateX(-100%);
  height: 0;
}

  #update-available.yes {
    height: auto;
    position: fixed;
    transition: transform .69s;
    transform: translateX(0px);
  }

  #update-available.yes button {
    font-size: 3rem;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 25px;
    pointer-events: auto;
  }
