/* Basic styles */
html {
  width: 100%; height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

body {
  position: relative;
  width: 100%; height: 100%;
  min-width: 960px; min-height: 540px;
  margin: 0;
  overflow: hidden;
}

/* Parallax */
.parallax-0, .parallax--0,
.parallax-1, .parallax--1,
.parallax-2, .parallax--2,
.parallax-3, .parallax--3,
.parallax-4, .parallax--4 {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
}

/* Main game display layers */
body>.layer,
#layers-under-ui>.layer {
  position: absolute;
  height: 100%; width: 100%;
  pointer-events: none;
}

/* Background layer */
#layer-background {
}

  /* Temporary stuff */
  #temp-background {
    position: absolute;
    width: 104%; height: 104%;
    left: -2%; top: -2%;
    background: linear-gradient(rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(farthest-corner at 50% 0, rgba(255, 240, 210, 0) 50%, rgba(255, 240, 210, .69) 100%);
  }

  #temp-blueprint {
    /* http://lea.verou.me/css3patterns/#blueprint-grid */
    position: absolute;
    width: 103%; height: 103%;
    left: -1.5%; top: -1.5%;
    background-image: linear-gradient(rgba(0, 0, 0, .015) 2px, transparent 2px),
                      linear-gradient(90deg, rgba(0, 0, 0, .015) 2px, transparent 2px),
                      linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(0, 0, 0, .03) 1px, transparent 1px);
    background-size:240px 240px, 240px 240px, 60px 60px, 60px 60px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  }

  #click-counter {
    position: absolute;
    width: calc(100% - 100px); height: calc(100% - 100px);
    padding: 50px;
    font-size: 1.6em;
  }

/* Cutie layer */
#layer-cutie {}

  /* Cutie viewport */
  #cuties {
    position: absolute;
    height: calc(100% - 120px); width: 100%;
  }

    .cutie-view {
      position: absolute;
      top: 50%; left: 50%;
      width: 100%; height: 100%;
    }

    #cutie-l {
      transform:  translateX(-360px) translate(-50%, -50%) scale(.69);
    }

    #cutie-m {
      transform: translate(-50%, -50%);
    }

    #cutie-r {
      transform: translateX(360px) translate(-50%, -50%) scale(.69);
    }

      .cutie-embed {
        position: absolute;
        width: 100%; height: 100%;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
      }

/* UI layer */
#layer-ui {
}

  /* Temp MP buttons */
  #temp-mp-button-1 {
    -webkit-appearance: none;
    position: absolute;
    bottom: 50px; left: 50px;
    pointer-events: auto;
  }

  #temp-mp-button-2 {
    -webkit-appearance: none;
    position: absolute;
    bottom: 50px; right: 50px;
    pointer-events: auto;
  }

  /* Giant button */
  #cutie-clicker {
    position: absolute;
    display: block;
    width: 100%; height: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    pointer-events: auto;
    cursor: grab;
  }

  /* Cutie bar */
  #cutie-bar {
    position: absolute;
    bottom: 0;
    width: 100%; height: 120px;
  }

    /* Cutie Stats */
    #cutie-stats {

    }

      #cutie-stats .love,
      #cutie-stats .empathy {
        position: absolute;
        top: 16px; left: 50%;
        width: 69px;
        font-size: 1.8rem;
        white-space: nowrap;
        color: rgba(0, 0, 0, .69);
      }

      #cutie-stats .love {
        transform: translateX(-100px) translateX(-50%);
        text-align: right;
      }

        #cutie-stats .love::after {
          content: '♥';
          padding-left: 5px;
          color: #ffcc00;
        }

      #cutie-stats .empathy {
        transform: translateX(100px) translateX(-50%);
      }

        #cutie-stats .empathy::before {
          content: '♠';
          padding-right: 5px;
          color: #0d98bA;
        }

    /* Cutie Bar Cards */
    .cutie-bar-slot {
      display: block;
      position: absolute;
      width: 69px; height: 69px;
      top: 42px; left: 50%;
      padding: 0;
      outline: none;
      border: none;
      cursor: pointer;
      background: none;
      pointer-events: auto;
    }

      .cutie-bar-slot .cutie-card {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%) scale(0.27);
      }

    #cutie-bar-l {
      transform: translateX(-85px) translateX(-50%);
    }

    #cutie-bar-m {
      width: 100px; height: 100px;
      top: 0;
      transform: translateX(-50%);
    }

      #cutie-bar-m .cutie-card {
        transform: translate(-50%, -50%) scale(0.40);
      }

        #xp-gauge {
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;
        }

          #xp-gauge .bar {
            position: absolute;
            width: 100%; height: 0;
            bottom: 0; left: 0;
            outline: #FF42D0 5px solid;
            background: rgba(255, 125, 222, .69);
            transition: height .3s;
          }

    #cutie-bar-r {
      transform: translateX(85px) translateX(-50%);
    }

  #burst-ui {
  }

    #burst-xp-gauge {
      position: absolute;
      left: 50%; bottom: 150px;
      width: 50%; height: 3px;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, .69);
      border: 1px #fff solid;
    }

      #burst-xp-gauge .bar {
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 0;
        background-color: #ccc;
        transition: width .3s, background-color .3s;
      }

      #burst-xp-gauge .heart {
        position: absolute;
        top: 50%; left: 0;
        transform: translate(-96%, -42%) scaleY(.9);
        color: #ccc;
        font-size: 500%;
        transition: color .1s;
      }

      @keyframes burst-xp-gauge-curren-rot {
        from {
          transform: translate(-80%, -49%) translate(-0.5%, -0.5%) rotate(0deg) translate(0.5%, 0.5%);
        }
        to {
          transform: translate(-80%, -49%) translate(-0.5%, -0.5%) rotate(90deg) translate(0.5%, 0.5%);
        }
      }
      #burst-xp-gauge .curren {
        position: absolute;
        top: 50%; left: -50px;
        visibility: hidden;
        animation: 5s burst-xp-gauge-curren-rot linear infinite;
        color: #c71585;
        font-size: 1200%;
        opacity: 0;
        transition: opacity .2s, left .2s;
      }

      .burst-ok #burst-xp-gauge .heart {
        color: #ffcc00;
      }
      .burst-ok #burst-xp-gauge .curren {
        visibility: visible;
        opacity: .69;
        left: 0;
      }
      .burst-ok #burst-xp-gauge .bar {
        background-color: #ffcc00;
      }

/* Update Div */
#update-available {
  transform: translateX(-100%);
  height: 0;
}

  #update-available.yes {
    height: auto;
    position: fixed;
    transition: transform .69s;
    transform: translateX(0px);
  }

  #update-available.yes button {
    font-size: 3rem;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 25px;
    pointer-events: auto;
  }

  @keyframes update-available-button-span-spin {
    0% {
      transform: translateY(10%) rotate(0deg) translateY(-10%);
    }
    69% {
      transform: translateY(10%) rotate(0deg) translateY(-10%);
    }

    100% {
      transform: translateY(10%) rotate(120deg) translateY(-10%);
    }
  }

  #update-available.yes button span {
    display: inline-block;
    animation: 1s update-available-button-span-spin cubic-bezier(.45,.1,.5,1.33) infinite;
  }
