/* Basic styles */
html {
  width: 100%; height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

body {
  position: relative;
  width: 100%; height: 100%;
  min-width: 960px; min-height: 540px;
  margin: 0;
  overflow: hidden;
}

/* Main game display layers */
body>.layer {
  position: absolute;
  height: 100%; width: 100%;
  pointer-events: none;
}

/* Background layer */
#layer-background {
  /* Temporary */
  background: url(http://zippy.gfycat.com/AmpleDescriptiveBlackfootedferret.gif) no-repeat 85% 15%;
}

/* Cutie layer */
#layer-cutie {}

  /* Cutie viewport */
  #cuties {
    position: absolute;
    height: calc(100% - 120px); width: 100%;
    perspective: 690px;
  }

    .cutie-view {
      position: absolute;
      width: 100%; height: 100%;
    }

    #cutie-l {
      top: 50%; left: 50%;
      transform: translate(-50%, -50%) translateX(-420px) rotateY(45deg) translateZ(-100px);
    }

    #cutie-m {
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
    }

    #cutie-r {
      top: 50%; left: 50%;
      transform: translate(-50%, -50%) scaleX(-1) translateX(-420px) rotateY(45deg) translateZ(-100px);
    }

      .cutie-embed {
        position: absolute;
        width: 100%; height: 100%;
      }

/* UI layer */
#layer-ui {
  pointer-events: auto;
}

  /* Giant button */
  #cutie-clicker {
    position: absolute;
    display: block;
    width: 100%; height: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }

  /* Cutie bar */
  #cutie-bar {
    position: absolute;
    bottom: 0;
    width: 100%; height: 120px;
    pointer-events: none;
  }

    /* Temporary click counter */
    #click-counter {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 10rem;
      margin: 0;
      pointer-events: auto;
      white-space: nowrap;
    }
