/* Basic styles */
html, body {
  width: 100%; height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* Main game display layers */
body>.layer {
  position: absolute;
  height: 100%; width: 100%;
}

/* Cutie layer */
#layer-cutie {}

  /* Cutie viewport */
  #cutie-view {
    position: absolute;
    height: calc(100% - 120px); width: 100%;
  }

    /* Development cutie display */
    #cutie {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      background: url(../cuties/119/0.png) center center no-repeat;
      background-size: contain;
      width: 100%; height: 100%;
      max-width: 500px; max-height: 500px;
    }

      #cutie.clicked {
        background: url(../cuties/119/1.png) center center no-repeat;
        width: 100%; height: 100%;
        max-width: 500px; max-height: 500px;
        background-size: contain;
      }

/* UI layer */
#layer-ui {}

  /* Giant button */
  #cutie-clicker {
    position: absolute;
    display: block;
    width: 100%; height: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 0;
  }

  /* Cutie bar */
  #cutie-bar {
    position: absolute;
    bottom: 0;
    width: 100%; height: 120px;
    pointer-events: none;
  }

    /* Temporary click counter */
    #click-counter {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 10rem;
      margin: 0;
      pointer-events: auto;
    }
