/* Styles shifting stuff around */
html.menu-active {
  overflow-y: visible;
}

.menu-active body {
  position: static;
}

.menu-active #layers-under-ui {
  transform: scale(.85);
  opacity: 0;
}

.menu-active body>.layer,
.menu-active #layers-under-ui>.layer {
  position: fixed;
}

.menu-active #layer-ui {
  position: absolute;
}

.menu-active #menu {
  top: 70px;
  pointer-events: auto;
}

.menu-active #menu-top {
  top: 0;
}

.menu-active #cutie-bar {
  position: fixed;
  top: -5px;
}

.menu-active #cutie-stats {
  opacity: 0;
}

.menu-active .cutie-bar-slot {
  top: 0px;
  pointer-events: none;
}

.menu-active #cutie-bar-m {
  top: 10px;
  pointer-events: auto;
}

.menu-active #xp-gauge {
  opacity: 0;
}

#menu {
  position: absolute;
  width: 100%; height: calc(100% - 70px);
  top: 100%;
  background-color: #fff;
  transition: top .3s;
}

#menu-top {
  display: flex;
  position: fixed;
  top: -100px; left: 0;
  width: 100%; height: 69px;
  border-bottom: 1px solid #ccc;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  align-items: stretch;
  background: #fff;
  transition: top .3s;
}

  #menu-close-button {
    border: none;
    outline: none;
    background: none;
    flex: 0 0 auto;
    width: 250px;
  }

  .menu-side {
    display: flex;
    flex: 1 0 auto;
    align-items: stretch;
  }

    .menu-side button {
      border: none;
      outline: none;
      background: none;
      padding: 0;
      color: #aaa;
      font-size: 4rem;
      cursor: pointer;
      flex: 1 0 auto;
    }

      .menu-side button:active span {
        transform: scale(.9);
      }

    .menu-script-stats #menu-top-stats {
      color: #fff;
      text-shadow: 0 0 3px #7f00ff,
                   0 0 6px #7f00ff,
                   0 0 9px #7f00ff;
    }
    .menu-script-cuties #menu-top-cuties {
      color: #fff;
      text-shadow: 0 0 3px #007fff,
                   0 0 6px #007fff,
                   0 0 9px #007fff;
    }
    .menu-script-items #menu-top-items {
      color: #fff;
      text-shadow: 0 0 3px #00ff7f,
                   0 0 6px #00ff7f,
                   0 0 9px #00ff7f;
    }
    .menu-script-store #menu-top-store {
      color: #fff;
      text-shadow: 0 0 3px #7fff00,
                   0 0 6px #7fff00,
                   0 0 9px #7fff00;
    }
    .menu-script-tbd #menu-top-tbd {
      color: #fff;
      text-shadow: 0 0 3px #ff7f00,
                   0 0 6px #ff7f00,
                   0 0 9px #ff7f00;
    }
    .menu-script-misc #menu-top-misc {
      color: #fff;
      text-shadow: 0 0 3px #ff007f,
                   0 0 6px #ff007f,
                   0 0 9px #ff007f;
    }

#menu-pane {
  padding-top: 30px;
  background: #fff;
}

  #menu-content {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
  }
