/* Styles shifting stuff around */
html.menu-active {
  overflow-y: visible;
}

.menu-active body {
  position: static;
}

.menu-active #layers-under-ui {
  transform: scale(.95);
  opacity: .69;
}

.menu-active body>.layer,
.menu-active #layers-under-ui>.layer {
  position: fixed;
}

.menu-active #layer-ui {
  position: absolute;
}

.menu-active #menu {
  top: 70px;
  pointer-events: auto;
}

.menu-active #menu-top {
  top: 0;
}

.menu-active #cutie-bar {
  position: fixed;
  top: -5px;
}

.menu-active #cutie-stats {
  opacity: 0;
}

.menu-active .cutie-bar-slot {
  top: 0px;
  pointer-events: none;
}

.menu-active #cutie-bar-m {
  top: 10px;
  pointer-events: auto;
}

.menu-active #xp-gauge {
  opacity: 0;
}

#menu {
  position: absolute;
  width: 100%; height: calc(100% - 70px);
  top: 100%;
  background-color: #fff;
  transition: top .3s;
}

#menu-top {
  display: flex;
  position: fixed;
  top: -100px; left: 0;
  width: 100%; height: 69px;
  border-bottom: 1px solid #ccc;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  align-items: stretch;
  background: #fff;
  transition: top .3s;
}

  #menu-close-button {
    border: none;
    outline: none;
    background: none;
    flex: 0 0 auto;
    width: 250px;
  }

  .menu-side {
    display: flex;
    flex: 1 0 auto;
    align-items: stretch;
  }

    .menu-side button {
      border: none;
      outline: none;
      background: none;
      padding: 0;
      color: #aaa;
      font-size: 4rem;
      cursor: pointer;
      flex: 1 0 auto;
    }

      .menu-side button:active span {
        transform: scale(.9);
      }

#menu-pane {
  padding-top: 110px;
  background: #fff;
}

  #menu-content {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
  }
