/* Background layer */
#layer-background {
}

  /* Temporary stuff */
  #temp-background {
    position: absolute;
    width: 104%; height: 104%;
    left: -2%; top: -2%;
    background: linear-gradient(rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(farthest-corner at 50% 0, rgba(255, 240, 210, 0) 50%, rgba(255, 240, 210, .69) 100%);
  }

  #temp-blueprint {
    /* http://lea.verou.me/css3patterns/#blueprint-grid */
    position: absolute;
    width: 103%; height: 103%;
    left: -1.5%; top: -1.5%;
    background-image: linear-gradient(rgba(0, 0, 0, .015) 2px, transparent 2px),
                      linear-gradient(90deg, rgba(0, 0, 0, .015) 2px, transparent 2px),
                      linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(0, 0, 0, .03) 1px, transparent 1px);
    background-size:240px 240px, 240px 240px, 60px 60px, 60px 60px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  }

  #click-counter {
    position: absolute;
    width: calc(100% - 100px); height: calc(100% - 100px);
    padding: 50px;
    font-size: 1.6em;
  }

/* Cutie layer */
#layer-cutie {}

  /* Cutie viewport */
  #cuties {
    position: absolute;
    height: calc(100% - 120px); width: 100%;
  }

    .cutie-view {
      position: absolute;
      top: 50%; left: 50%;
      width: 100%; height: 100%;
    }

    #cutie-l {
      transform:  translateX(-360px) translate(-50%, -50%) scale(.69);
    }

    #cutie-m {
      transform: translate(-50%, -50%);
    }

    #cutie-r {
      transform: translateX(360px) translate(-50%, -50%) scale(.69);
    }

      .cutie-embed {
        position: absolute;
        width: 100%; height: 100%;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
      }
