/* UI layer */
#layer-ui {
}

  /* Temp MP buttons */
  #temp-mp-button-1 {
    -webkit-appearance: none;
    position: absolute;
    bottom: 50px; left: 50px;
    pointer-events: auto;
  }

  #temp-mp-button-2 {
    -webkit-appearance: none;
    position: absolute;
    bottom: 50px; right: 50px;
    pointer-events: auto;
  }

  /* Giant button */
  #cutie-clicker {
    position: absolute;
    display: block;
    width: 100%; height: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    pointer-events: auto;
    cursor: pointer;
  }

  /* Cutie bar */
  #cutie-bar {
    position: absolute;
    top: calc(100% - 120px);
    width: 100%; height: 115px;
    margin-top: 5px;
    transition: top .3s, opacity .3s;
  }

    /* Cutie Stats */
    #cutie-stats {
      position: absolute;
      width: 100%;
      transition: opacity .3s;
    }

      #cutie-stats .love,
      #cutie-stats .empathy {
        position: absolute;
        top: 16px; left: 50%;
        width: 69px;
        font-size: 1.8rem;
        white-space: nowrap;
        color: rgba(0, 0, 0, .69);
      }

      #cutie-stats .love {
        transform: translateX(-100px) translateX(-50%);
        text-align: right;
      }

        #cutie-stats .love::after {
          content: '♥';
          padding-left: 5px;
          color: #ffcc00;
        }

      #cutie-stats .empathy {
        transform: translateX(100px) translateX(-50%);
      }

        #cutie-stats .empathy::before {
          content: '♠';
          padding-right: 5px;
          color: #0d98bA;
        }

    /* Cutie Bar Cards */
    .cutie-bar-slot {
      display: block;
      position: absolute;
      width: 69px; height: 69px;
      top: 42px; left: 50%;
      padding: 0;
      outline: none;
      border: none;
      background: none;
      pointer-events: auto;
      border-radius: 50%;
      transition: top .3s;
    }

      .cutie-bar-slot .cutie-card {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%) scale(0.27);
      }

      .cutie-bar-slot:active .cutie-card {
        transform: translate(-50%, -50%) scale(0.24);
      }

    #cutie-bar-l {
      transform: translateX(-85px) translateX(-50%);
    }

    #cutie-bar-m {
      width: 100px; height: 100px;
      top: 0;
      transform: translateX(-50%);
    }

    @keyframes ce-burst-ready-cutie-bar-m {
      90% {
        transform: translateX(-50%) scale(1);
      }

      95% {
        transform: translateX(-50%) scale(1.2);
      }

      98% {
        transform: translateX(-50%) scale(.8);
      }

      100% {
        transform: translateX(-50%) scale(1);
      }
    }

    .ce-burst-ready #cutie-bar-m {
      box-shadow: 0 0 20px 1px #ffcc00;
      animation: 3s ce-burst-ready-cutie-bar-m infinite;
      transition: box-shadow .69s;
    }

    .ce-burst-ready #cutie-bar-m:active {
      box-shadow: inset 0 0 10px #ffcc00;
      animation: none;
    }

      @keyframes cutie-bar-m-burst-me {
        0% {
          transform: translateX(-50%) rotate(0deg);
        }

        100% {
          transform: translateX(-50%) rotate(360deg);
        }
      }

      #cutie-bar-m .burst-me {
        pointer-events: none;
        position: absolute;
        top: 0; left: 50%;
        font-size: 10rem;
        animation: 1s cutie-bar-m-burst-me linear infinite;
        color: #c71585;
        opacity: 0;
      }

        .ce-burst-ready #cutie-bar-m .burst-me {
          opacity: .69;
          top: -55px;
          transition: opacity .69s, top .3s;
        }

      #cutie-bar-m .cutie-card {
        transform: translate(-50%, -50%) scale(0.41);
      }

      #cutie-bar-m:active .cutie-card,
      #cutie-bar-m.fake-click .cutie-card {
        transform: translate(-50%, -50%) scale(0.37);
      }

        #xp-gauge {
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;
          transition: opacity .3s;
        }

          #xp-gauge .bar {
            position: absolute;
            width: 100%;
            bottom: 0; left: 0;
            outline: #c71585 10px solid;
            background: rgba(255, 170, 222, .69);
            transition: height .3s, background-color .69s;
          }

          @keyframes ce-burst-ready-xp-gauge-bar-pulsate {
            0% {
              background-color: rgba(255, 245, 150, .69);
            }

            100% {
              background-color: rgba(255, 245, 100, .69);
            }
          }

          .ce-burst-ready #xp-gauge .bar {
            outline-color: #ffcc00;
            animation: 2s ce-burst-ready-xp-gauge-bar-pulsate alternate infinite;
          }

    #cutie-bar-r {
      transform: translateX(85px) translateX(-50%);
    }
